$primary-color: black;
$secondary-color: white;
$tertiary-color: #f2f2f2;
$quaternary-color: #bcbcbc;
$accent-color: #00ff84;
$font-family: "Nunito", sans-serif;
$border-radius: 0.5rem;

// Global Styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $primary-color;
  -webkit-appearance: none; /* Optional: to remove default styling */
}

html,
body {
  position: fixed;
  padding: 0;
  font-family: $font-family;
  background-color: $secondary-color;
  overflow: hidden; /* Prevents scrolling */
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

// Main Layout
main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  button {
    border-radius: 0;
    background-color: $quaternary-color;
    width: 100%;

    &:focus {
      outline: none;
      border: none;
    }
  }
}

// Page Specific Styles
.WelcomePage,
.CreateAccountPage,
.Login,
.Calculadora,
.MyAccount,
.VehicleSelection,
.Visitante {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1ch;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
}
input {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #00ff84;
  text-align: center;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $tertiary-color;

  &:focus {
    outline: none;
  }
}

// Additional Components
.location {
  width: 100%;
}

.GoBackButton {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-color;
  color: $secondary-color;

  &:focus {
    outline: none;
  }
}

.suggestion-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 1000;
}

.suggestion {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.VehicleSelection {
  max-height: 100%;
  overflow-y: auto;

  .vehicle-list {
    margin-bottom: 10rem;
    margin-top: 15rem;
    padding: 1rem;
  }

  .vehicle-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $quaternary-color;
    padding: 0.5rem;

    &.selected {
      box-shadow: inset 0 2px 0 0 $primary-color,
        inset 0 -2px 0 0 $primary-color; /* Inner outline color at top and bottom */
    }
  }

  .vehicle-image {
    background-color: $secondary-color; /* Make sure to define $secondary-color */
    height: 6rem;
    flex: 0 0 6rem;
    // margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 4rem;
    margin: 0.5rem;
  }

  .vehicle-detail {
    flex: 1;
  }
}
